        @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800&family=Corinthia:wght@700&family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        .text--center {
            text-align: center;
            align-items: center;
        }
        
        .container {
            margin: 0 150px;
        }
        
        a {
            text-decoration: none;
        }
        
        header {
            display: grid;
            grid-template-columns: 5fr 4fr;
        }
        
        header .header__link {
            display: flex;
            justify-content: space-evenly;
            padding-top: 20px;
            align-items: center;
        }
        
        .header__link .header__links {
            font-family: 'Alegreya', serif;
            font-weight: normal;
            font-size: 17px;
            line-height: 30px;
            color: #837171;
        }
        
        .header__link .header__links--active {
            border-bottom: 2px solid red;
            color: #111;
        }
        
        .header__link .header__links:hover {
            border-bottom: 2px solid red;
            color: #111;
        }
        
        header .header__bar {
            display: flex;
            justify-content: space-around;
            background-image: url(images/header-girl.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 100vh;
            padding-top: 30px;
            position: relative;
        }
        
        .header__bar .header__bar--icon {
            position: absolute;
            top: 30px;
            right: 33%;
        }
        
        .header__bar .fas.fa-bars {
            width: 42px;
            height: 40px;
            font-size: 30px;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            color: #ff0000;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            transition: .4s ease-in;
            -webkit-transition: .4s ease-in;
            -moz-transition: .4s ease-in;
            -ms-transition: .4s ease-in;
            -o-transition: .4s ease-in;
        }
        
        .header__bar .fas.fa-bars:hover {
            background: #ff0000;
            color: #fff;
        }
        
        .header__content {
            display: flex;
            flex-direction: column;
            margin: 100px 50px;
        }
        
        .header__content .content__club {
            font-weight: 600;
            font-size: 20px;
            line-height: 35px;
            color: #FF2625;
        }
        
        .club--line {
            display: inline-block;
            width: 5%;
            height: 2px;
            background: red;
            font-size: 0;
        }
        
        .header__content .content__title {
            font-weight: bold;
            font-size: 57px;
            line-height: 75px;
            letter-spacing: 5px;
            color: #3A1212;
            margin: 30px 0 20px 0;
        }
        
        .header__content .content__text {
            font-weight: normal;
            font-size: 19px;
            line-height: 30px;
            color: #504747;
        }
        
        .content__btn {
            margin-top: 50px;
        }
        
        .btn {
            padding: 11px 35px;
            border-radius: 20px;
            background: #fff;
            border: 1px solid #ff0000;
            font-weight: normal;
            font-size: 17px;
            line-height: 20px;
            color: #3A1212;
            transition: .4s ease-in;
            -webkit-transition: .4s ease-in;
            -moz-transition: .4s ease-in;
            -ms-transition: .4s ease-in;
            -o-transition: .4s ease-in;
        }
        
        .btn:hover {
            background: #ff0000;
            color: #fff;
            font-weight: bold;
        }
        /* =====services section===== */
        
        .services {
            margin-top: 150px;
            margin-bottom: 220px;
        }
        
        .services .services__name {
            font-weight: 600;
            font-size: 20px;
            line-height: 40px;
            color: #FF2625;
        }
        
        .services .services__title {
            font-weight: bold;
            font-size: 36px;
            line-height: 50px;
            text-align: center;
            color: #3A1212;
        }
        
        .services__row {
            display: flex;
            justify-content: space-between;
        }
        
        .services__card {
            width: 200px;
            min-height: 250px;
            border-radius: 5px 5px 5px 30px;
            background: #fff;
            box-shadow: 3px 4px 15px #ccc;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 50px;
            margin-right: 20px;
        }
        
        .services__card img {
            transition: .4s ease-in;
            -webkit-transition: .4s ease-in;
            -moz-transition: .4s ease-in;
            -ms-transition: .4s ease-in;
            -o-transition: .4s ease-in;
        }
        
        .services__card:hover img {
            transform: translateY(-15px);
            -webkit-transform: translateY(-15px);
            -moz-transform: translateY(-15px);
            -ms-transform: translateY(-15px);
            -o-transform: translateY(-15px);
        }
        
        .services__card--text {
            font-weight: bold;
            font-size: 19px;
            line-height: 24px;
            text-align: center;
            color: #3A1212;
        }
        
        .services__card .services__card--link {
            font-weight: normal;
            font-size: 17px;
            line-height: 23px;
            text-align: center;
            color: #FF2625;
        }
        /* =====benefits and improve section */
        
        .benefits,
        .improve {
            /* display: flex;
            justify-content: space-between; */
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 200px;
        }
        
        .benefits__content,
        .improve__content {
            width: 40%;
        }
        
        .benefits .benefits__img-card,
        .improve__img-card {
            width: 40%;
        }
        
        .benefits .benefits__img,
        .improve__img,
        .instructors__card img,
        .testimonial__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
        }
        
        .benefits .benefits__name,
        .improve__name,
        .instructors__name,
        .testimonial__name {
            font-weight: 600;
            font-size: 21px;
            line-height: 40px;
            color: #FF2625;
            margin-top: 50px;
        }
        
        .benefits .benefits__title,
        .improve__title,
        .instructors__title,
        .testimonial__title,
        .form__title {
            font-weight: bold;
            font-size: 41px;
            line-height: 130%;
            color: #3A1212;
            margin: 25px 0;
        }
        
        .benefits .benefits__text,
        .improve__text,
        .form__text {
            font-weight: normal;
            font-size: 19px;
            line-height: 160%;
            color: #504747;
            margin-bottom: 50px;
        }
        /* =====instructors section===== */
        
        .instructors {
            margin-top: 170px;
        }
        
        .instructors__row {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
        }
        
        .instructors__card--name {
            font-weight: bold;
            font-size: 22px;
            line-height: 150%;
            text-align: center;
            margin-top: 25px;
        }
        
        .instructors__card--text {
            font-weight: normal;
            font-size: 18px;
            line-height: 160%;
            text-align: center;
            color: #504747;
        }
        /* =====testimonial===== */
        
        .testimonial {
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-gap: 30px;
            margin-top: 100px;
        }
        
        .testimonial__content {
            position: relative;
        }
        
        .testimonial__card {
            box-shadow: 3px 4px 15px #ccc;
            padding: 50px 40px;
            background: #fff;
            border-radius: 10px 40px 10px 10px;
            max-width: 520px;
            max-height: 325px;
            overflow: scroll;
            /* transform: translateX(-110px); */
            position: absolute;
            top: 255px;
            left: -105px;
        }
        
        .testimonial__card--text {
            font-style: italic;
            font-weight: normal;
            font-size: 17px;
            line-height: 30px;
            color: #504747;
        }
        
        .testemonial__card--name {
            font-weight: bold;
            font-size: 19px;
            line-height: 31px;
            color: #3A1212;
            margin-top: 25px;
        }
        
        .testemonial__card--address {
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #504747;
        }
        
        .testimonial__img {
            width: 525px;
            max-height: 635px;
            border-radius: 3px;
        }
        /* =====form section===== */
        
        .form {
            margin-top: 200px;
        }
        
        .form__subscribe {
            position: relative;
            width: 70%;
            margin: auto;
        }
        
        input.form__input {
            width: 80%;
            height: 60px;
            border-radius: 25px;
            padding: 10px 20px 10px 40px;
            font-weight: normal;
            font-size: 20px;
            line-height: 160%;
            outline-color: red;
            box-shadow: 3px 4px 15px #ccc;
            border: none;
            color: #ff0000;
            transition: .8s ease-in;
        }
        
        input.form__input::placeholder {
            font-weight: normal;
            font-size: 20px;
            line-height: 160%;
        }
        
        input.form__input:focus {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
        
        .form__btn {
            padding: 10px;
            width: 20%;
            height: 50px;
            border-radius: 25px;
            border: none;
            font-size: 17px;
            background: red;
            color: #fff;
            outline-color: rgb(14, 171, 219);
            position: absolute;
            top: 5px;
            right: 11%;
            transition: .4s ease-in;
            -webkit-transition: .4s ease-in;
            -moz-transition: .4s ease-in;
            -ms-transition: .4s ease-in;
            -o-transition: .2s ease;
        }
        
        .form__btn:hover {
            background: rgb(14, 171, 219);
        }
        /* =====footer===== */
        
        footer {
            margin-top: 250px;
            padding: 60px 0;
            background: rgba(255, 243, 244, 0.9);
        }
        
        .footer__row {
            display: flex;
            justify-content: space-between;
        }
        
        .footer__card--main .footer__card--title {
            display: flex;
            align-items: end;
            margin-bottom: 30px;
        }
        
        .footer__card--main .card__title--main {
            font-style: italic;
            font-weight: bold;
            font-size: 28px;
            line-height: 22px;
            color: #3A1212;
            margin-left: 10px;
        }
        
        .footer__card--main .footer__card--text {
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: -0.02em;
            color: #504747;
            margin-bottom: 25px;
        }
        
        .footer__card {
            display: flex;
            flex-direction: column;
        }
        
        .footer__card .card__title {
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            color: #3A1212;
            margin-bottom: 30px;
        }
        
        .footer__card .footer__links {
            font-weight: normal;
            font-size: 19px;
            line-height: 30px;
            color: #504747;
            margin-bottom: 15px;
        }
        
        .footer__copyright {
            margin-top: 50px;
            font-weight: 450;
            font-size: 13px;
            line-height: 120%;
            /* or 14px */
            color: #A69B9B;
        }
        
        @media screen and (max-width:1200px) {
            .container {
                margin: 0 80px;
            }
            header .header__bar {
                height: 80vh;
            }
            /* =====testimonial===== */
            .testimonial__img {
                width: 500px;
                max-height: 610px;
            }
            .testimonial__name {
                font-size: 20px;
                line-height: 40px;
            }
            .testimonial__title {
                font-size: 40px;
            }
            .testimonial__card {
                padding: 40px 40px;
                max-width: 510px;
                max-height: 325px;
                top: 255px;
                left: -105px;
            }
            .testimonial__card--text {
                font-size: 16px;
                line-height: 30px;
            }
            .testemonial__card--name {
                font-size: 18px;
                line-height: 31px;
            }
            .testemonial__card--address {
                font-size: 15px;
                line-height: 23px;
            }
        }
        
        @media screen and (max-width:1050px) {
            .header__content {
                margin-top: 110px;
            }
            .header__content .content__club {
                font-size: 17px;
                line-height: 30px;
            }
            .header__content .content__title {
                font-size: 63px;
                line-height: 68px;
                letter-spacing: 0;
            }
            .header__content .content__text {
                font-size: 16px;
                line-height: 25px;
            }
            .content__btn {
                grid-gap: 50px;
                margin-top: 35px;
            }
            .btn {
                padding: 9px 30px;
                font-size: 14px;
                line-height: 17px;
            }
            header .header__bar {
                height: 100%;
                background-size: 100% 100%;
            }
            .header__bar .fas.fa-bars {
                width: 35px;
                height: 35px;
                font-size: 26px;
            }
            /* =====services section */
            .container {
                margin: 0 50px;
            }
            .services {
                margin-top: 100px;
                margin-bottom: 200px;
            }
            .services .services__name {
                font-size: 17px;
                line-height: 35px;
            }
            .services .services__title {
                font-size: 31px;
                line-height: 45px;
            }
            .services__card {
                width: 160px;
                min-height: 190px;
                margin-top: 45px;
                margin-right: 15px;
            }
            .services__card--text {
                font-size: 17.5px;
                line-height: 20px;
            }
            .services__card .services__card--link {
                font-size: 15px;
                line-height: 20px;
            }
            /* =====benefits===== */
            .benefits .benefits__name,
            .improve__name {
                font-size: 19px;
                line-height: 30px;
            }
            .benefits .benefits__title,
            .improve__title {
                font-weight: 600px;
                font-size: 37px;
                line-height: 110%;
            }
            .benefits .benefits__text,
            .improve__text {
                font-size: 17px;
                line-height: 140%;
                margin-bottom: 20px;
            }
            /* =====instructors===== */
            .instructors__name {
                font-size: 19px;
                line-height: 40px;
            }
            .instructors__title {
                font-size: 38px;
                line-height: 110%;
            }
            .instructors__card {
                width: 250px;
            }
            /* =====testimonial===== */
            .testimonial__img {
                width: 435px;
                max-height: 585px;
            }
            .testimonial__name {
                font-size: 19px;
                line-height: 30px;
            }
            .testimonial__title {
                font-size: 39px;
                line-height: 115%;
            }
            .testimonial__card {
                padding: 40px 40px;
                max-width: 460px;
                max-height: 290px;
                top: 230px;
                left: -80px;
            }
            .testimonial__card--text {
                font-size: 15px;
                line-height: 27px;
            }
            .testemonial__card--name {
                font-size: 17px;
                line-height: 25px;
            }
            .testemonial__card--address {
                font-size: 14px;
                line-height: 20px;
            }
            /* =====fotm===== */
            .form {
                margin-top: 170px;
            }
            .form__title {
                font-size: 40px;
                line-height: 130%;
                margin: 22px 0;
            }
            .form__text {
                font-size: 18px;
                line-height: 150%;
                margin-bottom: 45px;
            }
        }
        
        @media screen and (max-width:900px) {
            .header__links-logo img {
                width: 30px;
            }
            .header__link .header__links {
                font-size: 15px;
                line-height: 25px;
            }
            .header__content {
                margin-top: 80px;
            }
            .header__content .content__club {
                font-size: 16px;
                line-height: 25px;
            }
            .header__content .content__title {
                font-size: 57px;
                line-height: 60px;
            }
            .header__content .content__text {
                font-size: 14px;
                line-height: 24px;
            }
            .content__btn {
                grid-gap: 30px;
                margin-top: 25px;
            }
            .btn {
                padding: 8px 25px;
                font-size: 12px;
                line-height: 16px;
            }
            .header__bar .fas.fa-bars {
                width: 30px;
                height: 30px;
                font-size: 20px;
            }
            /* =====services section */
            .container {
                margin: 0 30px;
            }
            .services {
                margin-top: 80px;
                margin-bottom: 140px;
            }
            .services .services__name {
                font-size: 15px;
                line-height: 25px;
            }
            .services .services__title {
                font-size: 28px;
                line-height: 40px;
            }
            .services__card {
                width: 160px;
                min-height: 190px;
                margin-top: 35px;
                margin-right: 10px;
            }
            .services__card--text {
                font-size: 16px;
                line-height: 20px;
            }
            .services__card .services__card--link {
                font-size: 15px;
                line-height: 20px;
            }
            /* =====benefits===== */
            .benefits .benefits__name,
            .improve__name {
                font-size: 17px;
                line-height: 20px;
            }
            .benefits .benefits__title,
            .improve__title {
                font-weight: 600px;
                font-size: 34px;
                line-height: 90%;
            }
            .benefits .benefits__text,
            .improve__text {
                font-size: 14px;
                line-height: 120%;
                margin-bottom: 20px;
            }
            .btn {
                padding: 9px 30px;
            }
            /* =====instructors===== */
            .instructors__name {
                font-size: 18px;
                line-height: 30px;
            }
            .instructors__title {
                font-size: 36px;
                line-height: 100%;
            }
            .instructors__card {
                width: 220px;
            }
            .instructors__card--name {
                font-size: 20px;
                line-height: 150%;
            }
            .instructors__card--text {
                font-size: 17px;
                line-height: 140%;
            }
            /* =====testimonial===== */
            .testimonial__img {
                width: 380px;
                max-height: 545px;
            }
            .testimonial__name {
                font-size: 18px;
                line-height: 20px;
            }
            .testimonial__title {
                font-size: 33px;
                line-height: 100%;
            }
            .testimonial__card {
                padding: 25px 25px;
                max-width: 460px;
                max-height: 260px;
                top: 205px;
                left: -58px;
            }
            .testimonial__card--text {
                font-size: 13px;
                line-height: 25px;
            }
            .testemonial__card--name {
                font-size: 16px;
                line-height: 20px;
            }
            .testemonial__card--address {
                font-size: 13px;
                line-height: 20px;
            }
            /* =====fotm===== */
            .form {
                margin-top: 150px;
            }
            .form__title {
                font-size: 39px;
                line-height: 130%;
                margin: 22px 0;
            }
            .form__text {
                font-size: 17px;
                line-height: 150%;
                margin-bottom: 45px;
            }
            .form__subscribe {
                width: 80%;
            }
            input.form__input {
                font-size: 18px;
            }
            input.form__input::placeholder {
                font-size: 18px;
                line-height: 160%;
            }
            .form__btn {
                font-size: 16px;
            }
        }
        
        @media screen and (max-width:750px) {
            .header__links-logo img {
                width: 26px;
            }
            .header__link .header__links {
                font-size: 13px;
                line-height: 20px;
            }
            .header__content {
                margin-top: 45px;
            }
            .header__content .content__club {
                font-size: 14px;
                line-height: 18px;
            }
            .header__content .content__title {
                font-size: 50px;
                line-height: 55px;
            }
            .header__content .content__text {
                font-size: 12px;
                line-height: 20px;
            }
            .content__btn {
                grid-gap: 22px;
                margin-top: 20px;
            }
            .btn {
                padding: 6px 20px;
                font-size: 10.5px;
                line-height: 15px;
            }
            .header__bar .fas.fa-bars {
                width: 25px;
                height: 25px;
                font-size: 17px;
            }
            /* =====services section */
            .container {
                margin: 0 30px;
            }
            .services {
                margin-top: 60px;
                margin-bottom: 100px;
            }
            .services__row {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
            }
            .services__card {
                width: 160px;
                min-height: 190px;
                margin-top: 35px;
                margin-right: 10px;
            }
            .services__card .services__card--link {
                font-size: 15px;
                line-height: 20px;
            }
            /* =====benefits===== */
            .benefits .benefits__img-card,
            .improve__img-card {
                width: 40%;
            }
            .benefits .benefits__img,
            .improve__img {
                width: 100%;
                height: 100%;
            }
            .benefits .benefits__name,
            .improve__name {
                font-size: 12px;
                line-height: 15px;
            }
            .benefits .benefits__title,
            .improve__title {
                font-size: 26px;
                line-height: 87%;
            }
            .benefits .benefits__text,
            .improve__text {
                font-size: 12px;
                line-height: 120%;
                margin: 5px 0 20px 0;
            }
            .benefits .btn {
                padding: 5px 15px;
                font-size: 10.5px;
                line-height: 15px;
            }
            /* =====instructors===== */
            .instructors__name {
                font-size: 17px;
                line-height: 20px;
            }
            .instructors__title {
                font-size: 34px;
                line-height: 100%;
            }
            .instructors__card {
                width: 170px;
            }
            .instructors__card--name {
                font-size: 19px;
                line-height: 150%;
                margin-top: 15px;
            }
            .instructors__card--text {
                font-size: 16px;
                line-height: 140%;
            }
            /* =====testimonial===== */
            .testimonial__img {
                width: 300px;
                max-height: 545px;
            }
            .testimonial__name {
                font-size: 16px;
                line-height: 5px;
            }
            .testimonial__title {
                font-size: 25px;
                line-height: 100%;
            }
            .testimonial__card {
                padding: 15px 15px;
                max-width: 420px;
                max-height: 351px;
                top: 170px;
                left: -55px;
            }
            .testimonial__card--text {
                font-size: 13px;
                line-height: 15px;
            }
            .testemonial__card--name {
                font-size: 15px;
                line-height: 15px;
            }
            .testemonial__card--address {
                font-size: 12px;
                line-height: 20px;
            }
        }
        
        @media screen and (max-width:600px) {
            header {
                grid-template-columns: 1fr;
            }
            .header__content {
                margin: 100px 30px;
            }
            header .header__bar {
                display: none;
            }
            .header__content {
                align-items: flex-start;
            }
            .services {
                margin: 100px 0;
            }
            .services .services__title {
                font-size: 27px;
                line-height: 50px;
            }
            .services .services__name {
                font-size: 15px;
                line-height: 25px;
                text-align: left;
                margin-bottom: 20px;
            }
            .benefits {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .improve {
                flex-direction: column-reverse;
            }
            .benefits .benefits__img-card,
            .improve__img-card {
                width: 80%;
            }
            .benefits__content,
            .improve__content {
                width: 100%;
            }
            .benefits .benefits__name,
            .improve__name {
                font-size: 17px;
                line-height: 15px;
            }
            .benefits .benefits__title,
            .improve__title {
                font-size: 28px;
                line-height: 100%;
            }
            .benefits .benefits__text,
            .improve__text {
                font-size: 16px;
                line-height: 140%;
                margin: 5px 0 20px 0;
            }
            .benefits .btn {
                padding: 7px 20px;
                font-size: 12.5px;
                line-height: 15px;
            }
        }